.animateSlideUP {
    animation: slide-in 0.7s both;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }